page-memory {

    .card {
        width: 100%;
        padding : 5px;
        border-radius: 10%;
        border: 1px solid rgb(85, 85, 85);
    }

    .button{
        border-radius : 10px;
        background-color: rgb(112, 139, 139);
        box-shadow: 6px 6px 0px black;
    }
}
