page-form {

    #custom-label2{
        color : rgb(0, 255, 234);
        font-weight: bold;
    }
    #custom-label1{
        color : greenyellow;
        font-weight: bold;
    }
    .option{
        color : gold;
        font-weight: bold;
    }
    .option2{
        color : rgb(162, 0, 255);
        font-weight: bold;
    }
    #colorButton{
     background-color: greenyellow;
 }
}
